{% load static %}
<link rel="stylesheet" href="{% static 'styles/header.css' %}">

<header class="cabecalho">
    <a href="{% url 'index' %}" class="logo">
        <img src="" alt="Logo">
    </a>
    
    <div class="pesquisa">
        <i class="material-icons small white ">search</i>
        <span class="separador"></span>
        <input type="text" id="campo-pesquisa" placeholder="Pesquisar"></input>
    </div>

    <div class="menu">
        <div id="icone-menu">
            <i class="material-icons medium">menu</i>
        </div>


        <!-- MANTER O MENU AQUI ? -->
        <!-- <nav class="sr-only">
            <ul type="none">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </nav> -->
    </div>
</header>