.cadastro-container{
    justify-items: left;
}

.cadastro-container h1{
    margin-left: 2.5rem;
}

.cadastro-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cadastro-container form .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.cadastro-container .info>div{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.cadastro-container h2{
    margin: 2.5rem;
}

.cadastro-container form button#cadastro{
    margin-left: 2.5rem;
    background-color: var(--azul);
}

.cadastro-container form button#cadastro.habilitado:hover{
    background-color: var(--azul-claro);
    cursor: pointer;
}

.cadastro-container form button#cadastro.desabilitado:hover{
    cursor: not-allowed;
}
