.login-container{
    display: flex;
    flex-direction: column;
}

.login-container form{
    display: flex;
    flex-direction: column;
}

/* Ajustar no JS para habilitar e desabilitar o botão */
.login-container form button.desabilitado{
    background-color: red;
}

.login-container form button.desabilitado:hover{
    cursor: not-allowed;
}

.login-container form button{
    background-color: rgb(0, 163, 101);
}

.login-container form button:hover{
    background-color: rgb(99, 238, 129);
    cursor: pointer;
}

.login-container .cadastro{
    width: 100%;
    
    display: inline-flex;
    justify-content: center;
}
