.login-container{
    display: flex;
    flex-direction: column;
}

.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container form label{
    color: var(--branco);
}

.login-container form button#login{
    background-color: var(--verde);
}

.login-container form button#login.habilitado:hover{
    background-color: var(--verde-claro);
    cursor: pointer;
}

.login-container form button#login.desabilitado:hover{
    cursor: not-allowed;
}

.login-container .cadastro{
    width: 100%;
    
    display: inline-flex;
    justify-content: center;
}
