.item-container{
    grid-template-columns: 1fr 8.1rem 1fr;
    border-radius: 1rem;
}

.item-container .img{
    height: 60rem;
    width: 60rem;
    margin: 2rem 2rem 2rem 2rem;
}

.item-container .img img{
    min-height: 60rem;
    min-width: 60rem;
    max-height: 60rem;
    max-width: 60rem;
}

.item-container .separador{
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: .1rem;
    margin: 0 4rem 0 4rem;
}

.item-container .infos *:not(h1){
    margin: 0;
}

.item-container .infos{
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.item-container .infos .descricao{
    margin: 2rem 0;
}

.item-container .infos button{
    width: 100%;
}

.item-container .infos #adicionar-carrinho{
    background-color: rgb(8, 137, 213);
}

.item-container .infos #adicionar-carrinho:hover{
    background-color: rgb(99, 187, 238);
    cursor: pointer;
}

.item-container .infos #comprar{
    background-color: rgb(0, 163, 101);
}

.item-container .infos #comprar:hover{
    background-color: rgb(99, 238, 129);
    cursor: pointer;
}

