.item-container{
    grid-template-columns: 1fr 7.1rem 1fr;
    border-radius: 1rem;
}

.item-container .img{
    height: 60rem;
    width: 60rem;
    margin: 2rem 2rem 2rem 2rem;
}

.item-container .img img{
    min-height: 60rem;
    min-width: 60rem;
    max-height: 60rem;
    max-width: 60rem;
}

.item-container .separador{
    height: 100%;
    background-color: var(--preto);
    width: .1rem;
    margin: 0 4rem 0 4rem;
}

.item-container .infos *:not(h1){
    margin: 0;
}

.item-container .infos{
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.item-container .infos .descricao{
    margin: 2rem 0;
}

.item-container .infos #adicionar-carrinho{
    background-color: var(--azul);
}

.item-container .infos #adicionar-carrinho:hover{
    background-color: var(--azul-claro);
}

.item-container .infos #comprar{
    background-color: var(--verde);
}

.item-container .infos #comprar:hover{
    background-color: var(--verde-claro);
}

/* Controlador de quantidade para adicionar o produto no carrinho */
/* REFAZER ESSA PORCARIA DE ESTILIZAÇÃO */
.item-container .infos form #adicionar-carrinho.desabilitado{
    cursor: not-allowed;
    opacity: .5;
}

.item-container .infos form #quantidade{
    display: flex;
}

.item-container .infos form #quantidade *{
    width: 5rem;
    height: 5rem;
    margin-right: 1rem
}


.item-container .infos form #quantidade #qtde{
    background-color: var(--branco);
}

.item-container .infos form #quantidade #qtde::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.item-container .infos form #quantidade .contador i{
    user-select: none;
}

.item-container .infos form #quantidade #incrementa{
    background-color: var(--verde);
}

.item-container .infos form #quantidade #decrementa{
    background-color: var(--vermelho);
}

.item-container .infos form #quantidade #incrementa:hover{
    background-color: var(--verde-claro);
}

.item-container .infos form #quantidade #decrementa:hover{
    background-color: var(--vermelho-claro);
}

.item-container .infos form #quantidade .contador i{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

