
.background-waves{
    position:fixed;
    text-align:center;
    background: linear-gradient(60deg, rgb(99, 196, 209) 0%,rgb(86, 54, 216) 100%);
    color:white;
    height: 100%;
    z-index: -3;
}
  
.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}
  
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:100%;
}
  
  
  /* Animation */
  
.parallax > use {
    animation: move-forever 30s cubic-bezier(.55,.5,.45,.5) infinite;
    animation-direction: alternate-reverse;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 12s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 15s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 18s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 25s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-7rem,-4rem,0) skewY(13deg);
    }
    100% { 
       transform: translate3d(8rem, 2rem,0) skewY(13deg);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}
  