.container{
    width: 100%;
    padding: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items:  center;

    background-color: rgb(180, 180, 180);
}

.container .card{
    height: 22rem;
    width: 22rem;
}