.item-container{
    width: 80%;
    padding: 5rem;
    margin: auto;
    margin-top: 6rem;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 8.1rem 1fr;
    justify-items:  center;

<<<<<<< HEAD
    background-color: #00000050;
=======
    background-color: #a6c5ff67;
>>>>>>> 3a285e5b894f3084699e60ed9ac6ce20147247c2
    backdrop-filter: blur(.3rem);

    border-radius: 1rem;
}

<<<<<<< HEAD
.item-container .img{
    height: 60rem;
    width: 60rem;
    /* background-color: blue; */
    border: dotted 1px black;
=======
.item-container .imagem{
    height: 60rem;
    width: 60rem;
    background-color: blue;
>>>>>>> 3a285e5b894f3084699e60ed9ac6ce20147247c2
    margin: 2rem 2rem 2rem 2rem;
}

.item-container .separador{
    height: 100%;
    background-color: rgb(0, 0, 0);
    width: .1rem;
    margin: 0 4rem 0 4rem;
}

.item-container .infos *{
    margin: 0;
}

.item-container .infos{
    margin: 2rem 0 2rem 0;
    width: 100%;
}

.item-container .infos .descricao{
    margin: 2rem 0;
    font-size: 1.5rem;
}

.item-container .infos button{
    height: 5rem;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
}

.item-container .infos #adicionar-carrinho{
    background-color: rgb(8, 137, 213);
}

.item-container .infos #adicionar-carrinho:hover{
    background-color: rgb(99, 187, 238);
    cursor: pointer;
}

.item-container .infos #comprar{
    background-color: rgb(0, 163, 101);
}

.item-container .infos #comprar:hover{
    background-color: rgb(99, 238, 129);
    cursor: pointer;
}

=======

}

.item-container .infos #adicionar-carrinho{
    background-color: rgb(99, 187, 238);
}

.item-container .infos #comprar{
    background-color: rgb(0, 197, 122);
}
>>>>>>> 3a285e5b894f3084699e60ed9ac6ce20147247c2
