{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% if produtos %}
            {% for i in produtos %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    {% if i.foto_produto == "" %}
                        <img src="{% static 'img/sem-foto.png' %}" alt="foto">
                    {% else %}
                        <img src="{{ i.foto_produto.url }}" alt="">
                    {% endif %}
                        <a href="{% url 'item' i.id %}">
                            <h2>{{ i.nome_produto }}</h2>
                            <p>R$ {{ i.preco }}</p>
                        </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 col-sm-6 col-lg-4">
                <p>Produto Não Encontrado! :(</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}