{% extends 'partials/_base.html' %}

<!--{% load static %}-->
{% block content %}

    <div class="container container-grande item-container">
        <div class="img">
            {% if item.foto_produto == "" %}
                <img src="{% static 'img/sem-foto.png' %}" alt="foto do produto">
            {% else %}
                <img src="{{ item.foto_produto.url }}" alt="foto do produto">
            {% endif %}
        </div>

        <div class="separador"></div>

        <div class="infos">
            <h1 id="nome-produto">{{ item.nome_produto }}</h1>
            <h2 id="preco">R$ {{ item.preco }}</h2>
            <p class="descricao">{{ item.descricao }}</p>

            <button id="adicionar-carrinho" class="grande">
                <i class="material-icons small">add_shopping_cart</i>Adicionar ao carrinho 
            </button>

            <button id="comprar" class="grande">
                <i class="material-icons small">check_circle</i> Comprar
            </button>

        </div>
    </div>
{% endblock %}