{% extends 'partials/_base.html' %}

<!--{% load static %}-->
{% block content %}

    <div class="item-container">
        <div class="img">
            <img src="../../fotos/09/11/2021/img_teste.webp" alt="Foto do produto">
        </div>

        <div class="separador"></div>


        <div class="infos">
            <h1 id="nome-produto">{{ teste.nome_produto }}</h1>
            <h2 id="preco">R$ {{ teste.preco }}</h2>
            <p class="descricao">{{ teste.descricao }}</p>

            <button id="adicionar-carrinho">
                <i class="material-icons small">add_shopping_cart</i>Adicionar ao carrinho 
            </button>

            <button id="comprar">
                <i class="material-icons small">check_circle</i> Comprar
            </button>

        </div>
    </div>
{% endblock %}