{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<!-- Início da área de formulário para cadastro -->

<div class="container container-medio cadastro-container">
    <form action="#" method="POST">
        {% csrf_token %}
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
        
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome">
        
        <label for="documento">CPF</label>
        <input type="text" id="documento" name="documento">
        
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco">
        
        <label for="numero">Número</label>
        <input type="text" id="numero" name="numero">
        
        <label for="cep">CEP</label>
        <input type="text" id="cep" name="cep">
        
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email">
        
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha">
        
        <label for="senha2">Confirmação de Senha</label>
        <input type="password" id="senha2" name="senha2">
        
        <button type="submit">Criar Cadastro</button>
    </form>
</div>

<!-- Fim da área de formulário para cadastro -->

{% endblock %}