{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

<div class="container container-pequeno login-container">
    <h1>Fazer Login</h1>
    <form action="#" method="POST">
        {% csrf_token %} <!-- Próprio do Django para segurança contra ataques CSRF-->
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email">

        <label for="">Senha</label>
        <input type="password" name="senha" id="senha">

        <button type="submit" class="grande"><i class="material-icons">person</i>Entrar</button>
    </form>

    <div class="cadastro"><a href="{% url 'cadastro' %}" class="button">Fazer Cadastro</a></div>
</div>

{% endblock %}